
.vscode/settings.json
assets/minecraft/textures/gui/container/smoker - Copy.png
assets/minecraft/textures/gui/container/inventory - Copy (2).png
assets/minecraft/textures/gui/container/generic_54 - Copy.png
assets/minecraft/textures/gui/container/furnace - Copy.png
assets/minecraft/textures/gui/container/crafting_table - Copy.png
assets/minecraft/textures/gui/container/blast_furnace - Copy.png
assets/asteral/textures/gui/container/template2 - Copy.png
assets/asteral/textures/gui/container/double_chest - Copy.png
assets/asteral/textures/gui/container/chest - Copy.png
