
.vscode/settings.json
assets/minecraft/textures/gui/container/smoker - Copy.png
assets/minecraft/textures/gui/container/inventory - Copy (2).png
assets/minecraft/textures/gui/container/generic_54 - Copy.png
assets/minecraft/textures/gui/container/furnace - Copy.png
assets/minecraft/textures/gui/container/crafting_table - Copy.png
assets/minecraft/textures/gui/container/blast_furnace - Copy.png
assets/asteral/textures/gui/container/template2 - Copy.png
assets/asteral/textures/gui/container/double_chest - Copy.png
assets/asteral/textures/gui/container/chest - Copy.png
assets/asteral/textures/icons/teams/aquaicon - Copy.png
assets/asteral/textures/icons/teams/blueicon - Copy.png
assets/asteral/textures/icons/teams/limeicon - Copy.png
assets/asteral/textures/icons/teams/orangeicon - Copy.png
assets/asteral/textures/icons/teams/pinkicon - Copy.png
assets/asteral/textures/icons/teams/purpleicon - Copy.png
assets/asteral/textures/icons/teams/playericon - Copy.png
assets/asteral/textures/icons/teams/redicon - Copy.png
assets/asteral/textures/icons/teams/teamicon - Copy.png
assets/asteral/textures/icons/teams/yellowicon - Copy.png
assets/minecraft/textures/gui/sprites/container/slot_highlight_back - Copy.png
assets/minecraft/textures/gui/sprites/container/slot_highlight_front - Copy (2).png
assets/minecraft/textures/gui/sprites/container/slot_highlight_front - Copy.png
